.btn {
  width: 155px !important;
}
.dvision {
  max-width: inherit;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.dispaly{
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable-div {
  width: 250px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.scrollable-div p {
  margin: 0;
}
@media screen and (max-width: 550px) {
  .dispaly {
    height: 100vh;
  }
}
